.body {
    margin: 0px 0px 0px 0px;
}

#mapid { 
  height: 960px;
  width: 75%;
  margin:0px 0px 0px 0px;
}

#menu {
  float: right;
  height: 960px;
  width:24%;
  background-color: lightgray;
  color: black;
  text-align: center;
}

.x,p {
  display: inline-block;
  font-family:'Roboto Condensed';
  font-size: 23px;
  color: slategrey;
  margin: 5px;

}

h2 {
  color: white;
  text-align: center;
  font-size: 36px;
}

button {
    margin: 25px;
    display: inline-block;
    background-color: transparent;
    text-align: center;
    border: solid;
    border-color: white;
    padding: 5px;
    font-size: 18px;
    width: 320px;
    height: 125px;
    color:navy;

}

button:hover {
    margin: 35px;
    display: inline-block;
    background-color: none;
    text-align: center;
    border-color: white;
    padding: 5px;
    font-size: 18px;
    width: 320px;
    height: 135px;
    color:#ff7800;

}
